doctype html
html
  head
    title Latihan Vue
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
  body
    .vue 
      .container
        .error {{ error }}
        center
          h1 Biodata
          hr
        h2#semua-data Semua data
        table.table.table-bordered
          thead
            tr 
              th Nama
              th Alamat
          tbody
            tr(v-for="x in biodata")
              td {{ x.nama }}
              td {{ x.alamat }}
        h2#tambah Tambah
        form.form-tambah(@submit.prevent="tambah")
          .form-group
            label Nama 
            input.form-control(v-model="tambah_nama")
          .form-group
            label Alamat 
            textarea.form-control(v-model="tambah_alamat")
          .form-group
            input.btn.btn-default(type="submit" value="Tambahkan")
    script(src="/vendor/vue/vue.min.js")
    script(src="/vendor/axios/axios.min.js")
    script
      include:coffee-script(bare=true) index.coffee